  
.rose-button {
    font-size: 1.5em;
    padding: 12px 12px;
    text-align: center;
    margin-right:18em;
    margin-left: 18em;
    background-color: #fa8e86;
    color: #313030;
    border-color: black;
    border-radius: 15px;
    cursor: pointer;
  }

    .ring-button {
    font-size: 1.5em;
    padding: 12px 12px;
    text-align: center;
    margin-right:18em;
    margin-left: 18em;
    background-color: #fbf280;
    color: #313030;
    border-color: black;
    border-radius: 15px;
    cursor: pointer;
  }
  
  .chocolate-button {
    font-size: 1.5em;
    padding: 12px 12px;
    text-align: center;
    margin-right:18em;
    margin-left: 18em;
    background-color: #b06d6d;
    color: #313030;
    border-color: black;
    border-radius: 15px;
    cursor: pointer;
  }
  
  .teddy-button {
    font-size: 1.5em;
    padding: 12px 12px;
    margin-right: 19em;
    margin-left: 19em;
    text-align: center;
    background-color: #d1b498;
    color: #313030;
    border-color: black;
    border-radius: 15px;
    cursor: pointer;
  }
  
  .promise-button {
    font-size: 1.5em;
    padding: 12px 12px;
    text-align: center;
    margin-right: 18.5em;
    margin-left: 18.5em;
    background-color: #43b0f1;
    color: #313030;
    border-color: black;
    border-radius: 15px;
    cursor: pointer;
  }
  
  .hug-button {
    font-size: 1.5em;
    padding: 12px 12px;
    text-align: center;
    margin-right: 19em;
    margin-left: 19em;
    background-color: #f5b7b1;
    color: #313030;
    border-color: black;
    border-radius: 15px;
    cursor: pointer;
  }
  
  .kiss-button {
    font-size: 1.5em;
    padding: 12px 12px;
    text-align: center;
    margin-right: 19em;
    margin-left: 19em;
    background-color: #ffb6c1;
    color: #313030;
    border-color: black;
    border-radius: 15px;
    cursor: pointer;
  }
  