body {
    height: 100vh;
    font-size: 9px;
    background-color: #43b0f1;
    font-family: 'Arial', sans-serif;
    flex-direction: column;
  }
    .container {
    text-align: center;
    margin:"top";
  }
    .button {
    background-color: #43b0f1;
    color: #313030;
    border-color: black;
    margin-top: 5px;
    border-radius: 1.5em;
  }
  
  h1 {
    font-size: 2.7em;
    color: #2c2c2c;
  }
  
  h2 { 
    font-size: 2.3em;
    color: #2c2c2c;
    
