body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    margin: 0;
    background-color: #f9e3e3;
    font-family: 'Arial', sans-serif;
}

.container {
    text-align: center;
}

.header_text {
    font-size: 2.3em;
    color: #2c2c2c;
}

.gif_container img {
    width: 100%; 
    max-width: 500px; 
    height: auto; 
}

.valentine-button {
    font-size: 1.1em;
    padding: 10px 20px;
    margin-right: 10px;
    background-color: #a0effcec;
    color: #313030;
    border-color: black;
    border-radius: 50px;
    cursor: pointer;
  }